@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}


.aside{
    @apply pl-2 pr-2  h-full w-[20%]
}

.btn{
    @apply p-2 rounded-sm
}

.action-btn{
    @apply p-2 pt-5 border-b-2 w-[100%] cursor-pointer
}
.action-btn:hover{
    @apply bg-gray-100
}