@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}


.aside{
    @apply   h-full 
}

.btn{
    
}

.action-btn{
    @apply p-2 pt-5 border-b-2 w-[100%] cursor-pointer flex items-center text-center gap-3
}
.action-btn:hover{
    @apply bg-gray-100
}

.list-item{
    @apply mr-2 font-sans cursor-pointer text-[1.2rem] hover:outline-dashed p-2
}